<% if (theme.gitalk){ %>
<section class="comments" id="comments">
    <div id="gitalk-container"></div>
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <script src="/js/md5.min.js"></script>
    <script>
        var id = location.pathname
        if (location.pathname.length > 50) {
          id = location.pathname.replace(/\/\d+\/\d+\/\d+\//, '').replace('/', '').substring(0, 50)
        }
        const gitalk = new Gitalk({
          clientID: '9d22aca5e6d2962ef86e',
          clientSecret: '4a93d756cc14be84e76817cacbf8533fe424f1ae',
          repo: 'jianghushinian.github.io',
          owner: 'jianghushinian',
          admin: ['jianghushinian007@outlook.com'],
          id: md5(id),      // Ensure uniqueness and length less than 50，使用 md5 保证字符长度小于 50
          title: document.title.split('|')[0],
          distractionFreeMode: false,  // Facebook-like distraction free mode
          proxy: "https://netnr-proxy.cloudno.de/https://github.com/login/oauth/access_token",
        })

        gitalk.render('gitalk-container')
    </script>
</section>
<% } %>
