<% if (theme.gitment){ %>
<section class="comments" id="comments">
    <div id="gitment_thread"></div>
    <link rel="stylesheet" href="//unpkg.com/gitment/style/default.css">
    <!-- <script src="//unpkg.com/gitment/dist/gitment.browser.js"></script> -->
    <script src="/js/gitment.browser.js"></script>
    <script src="/js/md5.min.js"></script>
    <script>
        var gitment = new Gitment({
            id: md5(location.pathname),
            owner: 'jianghushinian',
            repo: 'jianghushinian.github.io',
            oauth: {
                client_id: '9d22aca5e6d2962ef86e',
                client_secret: '4a93d756cc14be84e76817cacbf8533fe424f1ae',
            },
        })
        gitment.render('comments')
    </script>
</section>
<% } %>
